.navbar
  .container
    a.brand.brand-flokk(href='#{site}') flokk
    ul.pull-right.nav.account-links
      li
        a(href='#{site}/contact') Contact us
      li
        a(href='#{site}/about') How it works
      li
        a(href=resolve('login')) Login
