extends layout

block content
  include partials/navbar

  .span6.offset3
    form.form-signin.form-flokk(method="post", action="#{base}/")
      h2 Login
      p Pick an item. Start a sale. Whenever you want. Seriously.
      hr
      .social-login
        a(href="#{base}/facebook").btn.btn-facebook Login With Facebook
      hr
      input.input-block-level(type="email", placeholder="Email", name="email", required="true")
      input.input-block-level(type="password", placeholder="Password", name="password", required="true")
      button.btn.btn-large.btn-action(type="submit") START FLOKKING
      hr
      p Don't have an account? 
        a(href="#{base}/signup") We'll hook you up.
