!!!
html(lang="en")
  head
    title Login | FLOKK
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    meta(name="author", content="The Flokk, LLC")
    meta(name="description", content="")
    link(href="#{base}/public/build.css", rel="stylesheet")
  body
    #wrap
      #main.container
        block content
      #push
    footer
    script(type="text/javascript", src="#{base}/public/build.js")
